@model CommentViewModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<div class="d-flex">
    <div class="card mx-auto my-2">
        <div class="card-header row">
            <div class="mr-auto ml-2 my-auto">
                <h6 class="m-0 font-weight-bold text-primary">@Html.DisplayFor(modelItem => Model.Author)</h6>
            </div>
            <div class="ml-auto mr-2 my-auto">
                <h6 class="m-0 font-weight-bold text-primary">@Html.DisplayFor(modelItem => Model.AddTime)</h6>
            </div>
        </div>
        <div class="card-body">
            <h6 class="col-md-8 text-gray-600">
@Model.Content
            </h6>
        </div>
        <div class="row">
            @if ((await AuthorizationService.AuthorizeAsync(
              User, Model,
              CommentOperations.Delete)).Succeeded)
            {
                <a href="#" data-toggle="modal" class="btn btn-danger text-white ml-auto mr-3 my-3" data-target="#deleteModal" data-delete-id="@Model.ID" data-name="@Model.Author" data-type="评论">删除</a>
                <a class="btn btn-lf text-white comment-reply-btn mr-3 my-3" data-parent-id="@Model.ID">回复</a>
            }else{
                <a class="btn btn-lf text-white comment-reply-btn ml-auto mr-3 my-3" data-parent-id="@Model.ID">回复</a>
            }
        </div>
        @foreach (var c in Model.Childs)
        {
            <partial name="_Comment" model="c" />
        }
    </div>
    
</div>
