@using Microsoft.AspNetCore.Identity
@using lonefire.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model List<CommentViewModel>

<div class="card mx-auto border-0 shadow-lg my-5">
    <div class="card-header border-0">
        <partial name="_CardHeader" model='ViewData["CommentSectionTitle"]' />
    </div>
    <div class="card-body">
        @foreach (var c in Model)
        {
            <partial name="_Comment" model="c" />
        }

        <partial name="_NewComment" />

    </div>
</div>


<!-- Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-11 mx-auto">
                        <div class="form-row my-3">
                            <label id="IDLabel" class="control-label"></label>
                            <input type="text" class="form-control" id="textid" disabled>
                        </div>
                        <div class="form-row my-3">
                            <label id="NameLabel" class="control-label"></label>
                            <input type="text" class="form-control" id="textName" disabled>
                        </div>

                        <label class="control-label">点击下方的按钮以确认删除.</label>
                    </div>
                </div>
            </div>
            <form asp-controller="Comment" asp-action="Delete" method="post" id="deleteForm">
                <div class="modal-footer">
                    <input type="hidden" name="id" id="delete_input" />
                    <input type="hidden" name="returnUrl" value="@PageManager.GetReturnUrl(ViewContext)" />
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                    <button id="deleteBtn" class="btn btn-lf" type="submit">删除</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="col-md-11 mx-auto" id="new_reply" style="display:none;">
    <div class="card mx-auto my-2">
        <div class="card-header border-0"><partial name="_CardHeader" model='"发表新评论"' /></div>
        <div class="card-body">
            @if (SignInManager.IsSignedIn(User))
            {
                <form asp-controller="Comment" asp-action="Create">
                    <input type="hidden" name="ArticleID" value="@ViewContext.RouteData.Values["id"]" />
                    <input type="hidden" name="returnUrl" value="@PageManager.GetReturnUrl(ViewContext)" />
                    <input type="hidden" name="ParentID" id="parent_id_input" />
                    <div class="row">
                        <textarea name="Content" class="form-control h-px-150"></textarea>
                    </div>
                    <div class="row">
                        <h6 class="text-primary ml-3 mr-auto mt-4">当前用户:@UserManager.GetUserName(User)</h6>
                        <button class="btn btn-lf text-white ml-auto mr-3 mt-3" type="submit"><h6>评论</h6></button>
                    </div>
                </form>
            }
            else
            {
                <div class="row">
                    <p class="mx-auto my-4">请<a asp-controller="Account" asp-action="Login" asp-route-returnurl="@PageManager.GetReturnUrl(ViewContext)">登录</a>或<a asp-controller="Account" asp-action="Register" asp-route-returnurl="@PageManager.GetReturnUrl(ViewContext)">注册</a>后发表评论...</p>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
<script src="~/js/_CommentSection.js"></script>
}


