<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nathaniel's Dev Area</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous">
    </environment>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" integrity="sha256-zmfNZmXoNWBMemUOo1XUGFfc0ihGGLYdgtJS3KCr/l0=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Economica|Noto+Sans+SC|Noto+Serif+SC|Titillium+Web|Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/override.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/animation.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/utility.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @RenderSection("StyleSheets", required: false)
</head>
@{
    ViewData["HeaderImg"] = ViewData["HeaderImg"] ?? "/img/bg-default.jpg";
}
<body id="page-top" data-spy="scroll" data-target="#toc">

    <partial name="_Toast" />
    <style type="text/css">
        #page-top {
        }
    </style>

    <header>
        <div id="head-area">
            <partial name="_Navbar" />

            <div class="card card-w-20 px-2 rounded-0 border-draw-within border-b-1 mx-auto my-5 h-px-100">
                <h1 data-toc-skip class="mx-auto my-auto text-economica text-nowrap">Nathaniel's Dev Area</h1>
                <a class="full-div-link z-1" asp-controller="Home" asp-action="Index"></a>
            </div>

            <img id="header-img" class="header-img darken-20" src='@ViewData["HeaderImg"]' />
        </div>

    </header>

    <main role="main" class="pb-3">
        <div class="d-flex">
            <partial name="_Sidebar" />
            @RenderBody()
        </div>

        <a class="scroll-to-top rounded z-1" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </main>


    <footer class="footer">
        <div class="d-flex bg-smoke justify-content-around align-items-center flex-wrap flex-sm-nowrap py-4">

            <img src="/img/logo.svg" class="d-none d-md-block img-h-50" alt="logo" />

            <div class="text-muted text-titillium">
                <div class="d-flex mx-auto justify-content-center">
                    Powered by
                    <img src="/img/lonefire.svg" class="mt-1 img-h-16" /> Lonefire
                    <div class="mx-2 mt-1">
                        <a class="github-button" href="https://github.com/llldar/lonefire" data-show-count="true" aria-label="Star llldar/lonefire on GitHub">Star</a>
                    </div>
                </div>
                <div class="d-flex mx-auto justify-content-center">
                    <a class="animated--link" asp-controller="Home" asp-action="Privacy">隐私政策</a>
                </div>
            </div>

            <div class="mt-2 mt-sm-auto">
                <partial name="_Social" />
            </div>

        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-easing/jquery.easing.js"></script>
        <script src="~/lib/jquery-hoverIntent/jquery.hoverIntent.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/color-thief/dist/color-thief.min.js"></script>
        <script src="~/lib/moment.js/moment.js"></script>
        <script async defer src="~/lib/github-buttons/dist/buttons.min.js"></script>
        <script src="~/lib/colorful-background-css-generator/dist/colorful-background-css-generator.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery.easing@1.4.1/jquery.easing.min.js" integrity="sha256-H3cjtrm/ztDeuhCN9I4yh4iN2Ybx/y1RM7rMmAesA0k=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-hoverintent@1.10.0/jquery.hoverIntent.min.js" integrity="sha256-rsusDYnTpKDiboGp6W+t4oB9VOdybAuz3F/JalS7P5Y=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha256-fzFFyH01cBVPYzl16KT40wqjhgPtq6FFUB6ckN2+GGw=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/colorthief@2.3.0/dist/color-thief.min.js" integrity="sha256-T9XG3F+oZW3IIEb54MXz9Sgmx73NELSCQxndaWN9AI0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/min/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/colorful-background-css-generator@1.0.0/dist/colorful-background-css-generator.js" integrity="sha256-ACh14FhkI6gOsX2kJrVxBwoh33ib4EUtbpOct+s0I9A=" crossorigin="anonymous"></script>
        <script async defer src="https://cdn.jsdelivr.net/npm/github-buttons@2.2.10/dist/buttons.min.js" integrity="sha256-J0V/ijaUBe80NawOXejTWOgrsG3aTqFj9KnvA3WIO6I=" crossorigin="anonymous"></script>
    </environment>
    <script src="https://cdn.jsdelivr.net/npm/colcade@0.2.0/colcade.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <partial name="_CookieConsentPartial" />
</body>

</html>
