<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nathaniel's Dev Area</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Economica|Noto+Sans+SC|Noto+Serif+SC|Titillium+Web|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="~/css/override.css" />
    <link rel="stylesheet" href="~/css/hovermenu.css" />
    <link rel="stylesheet" href="~/css/animation.css" />
    <link rel="stylesheet" href="~/css/utility.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @RenderSection("StyleSheets", required: false)
</head>
@{
    ViewData["HeaderImg"] = ViewData["HeaderImg"] ?? "/img/bg-default.jpg";
}
<body id="page-top" data-spy="scroll" data-target="#toc">

    @*<partial name="_Spinner" />*@
    <partial name="_CookieConsentPartial" />

    <partial name="_Toast" />
    <style type="text/css">
        #page-top {
        }
    </style>

    <header>
        <div id="head-area">
            <nav class="navbar navbar-expand-md navbar-dark h4 text-economica">
                <img src="/img/logo.svg" class="img-brand img-h-32" />
                <a class="navbar-brand navbrand" asp-controller="Home" asp-action="Index">Nathaniel's Dev Area</a>
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link @PageManager.IsActive(ViewContext,"Home","Portfolio")" asp-controller="Home" asp-action="Portfolio">Portfolio</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link @PageManager.IsActive(ViewContext,"Home","Archives")" asp-controller="Home" asp-action="Archives">Archives</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @PageManager.IsActive(ViewContext,"Home","About")" asp-controller="Home" asp-action="About">About</a>
                        </li>
                    </ul>
                </div>
                <button class="animated--toggler navbar-toggler collapsed ml-auto" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </nav>

            <div class="card card-w-20 px-2 rounded-0 border-draw-within border-b-1 mx-auto my-5 h-px-100">
                <h1 class="mx-auto my-auto text-economica text-nowrap">Nathaniel's Dev Area</h1>
                <a class="full-div-link z-1" asp-controller="Home" asp-action="Index"></a>
            </div>

            <img id="header-img" class="header-img darken-20" src='@ViewData["HeaderImg"]' />
        </div>

    </header>

    <main role="main" class="pb-3">
        <div class="d-flex">
            <partial name="_Sidebar" />
            @RenderBody()
        </div>

        <a class="scroll-to-top rounded z-1" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </main>


    <footer class="footer">
        <div class="d-flex bg-smoke justify-content-around align-items-center flex-wrap flex-sm-nowrap py-4">

            <img src="/img/logo.svg" class="d-none d-md-block img-h-50" alt="logo" />

            <div class="text-muted text-titillium">
                <div class="d-flex mx-auto justify-content-center">
                    Powered by
                    <img src="/img/lonefire.svg" class="mt-1 img-h-16" /> Lonefire
                    <div class="mx-2 mt-1">
                        <a class="github-button" href="https://github.com/llldar/lonefire" data-show-count="true" aria-label="Star llldar/lonefire on GitHub">Star</a>
                    </div>
                </div>
                <div class="d-flex mx-auto justify-content-center">
                    <a class="animated--link" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                </div>
            </div>

            <div class="mt-2 mt-sm-auto">
                <partial name="_Social" />
            </div>

        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-easing/jquery.easing.js"></script>
        <script src="~/lib/jquery-hoverIntent/jquery.hoverIntent.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/color-thief/dist/color-thief.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.hoverintent/1.10.0/jquery.hoverIntent.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.0.1/color-thief.min.js"></script>
    </environment>
    <script src="~/lib/colorful-background-css-generator/dist/colorful-background-css-generator.min.js"></script>
    <script async defer src="~/lib/github-buttons/dist/buttons.min.js"></script>
    <script src="~/js/site.js" asp-append-version="false"></script>

    @RenderSection("Scripts", required: false)

</body>

</html>
