@if (@PageManager.UseSideBar(ViewContext))
{


    <!-- Sidebar -->
    <ul class="d-flex navbar-nav sidebar sidebar-left bg-silver sidebar-lf rounded accordion toggled shadow z-1" id="accordionSidebar">

        <button class="animated--toggler sidebar-toggler border-0 z-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!-- Nav Item - Article -->
        <li class="nav-item @PageManager.IsActive(ViewContext,"Article")">
            <a class="nav-link" asp-controller="Article" asp-action="Index">
                <i class="fas fa-fw fa-book"></i>
                <span>文章管理</span>
            </a>
        </li>

        @if (User.IsInRole(Constants.AdministratorsRole))
        {
            <li class="nav-item @PageManager.IsActive(ViewContext,"Note")">
                <a class="nav-link" asp-controller="Note" asp-action="Index">
                    <i class="fas fa-sticky-note"></i>
                    <span>动态管理</span>
                </a>
            </li>

            <!-- Nav Item - Comment -->
            <li class="nav-item @PageManager.IsActive(ViewContext,"Comment")">
                <a class="nav-link" asp-controller="Comment" asp-action="Index">
                    <i class="fas fa-fw fa-comments"></i>
                    <span>评论管理</span>
                </a>
            </li>

            <!-- Nav Item - User -->
            <li class="nav-item @PageManager.IsActive(ViewContext,"User")">
                <a class="nav-link" asp-controller="User" asp-action="Index">
                    <i class="fas fa-fw fa-user-friends"></i>
                    <span>用户管理</span>
                </a>
            </li>

            <!-- Nav Item - Friend -->
            <li class="nav-item @PageManager.IsActive(ViewContext,"Friend")">
                <a class="nav-link" asp-controller="Friend" asp-action="Index">
                    <i class="fas fa-fw fa-link"></i>
                    <span>友链管理</span>
                </a>
            </li>

            <!-- Nav Item - Friend -->
            <li class="nav-item @PageManager.IsActive(ViewContext,"Images")">
                <a class="nav-link" asp-controller="Image" asp-action="Index">
                    <i class="fas fa-fw fa-images"></i>
                    <span>图片管理</span>
                </a>
            </li>
        }

        <!-- Nav Item - Manage -->
        <li class="nav-item @PageManager.IsActive(ViewContext,"Manage")">
            <a class="nav-link" asp-controller="Manage" asp-action="Index">
                <i class="fas fa-fw fa-user"></i>
                <span>个人信息管理</span>
            </a>
        </li>
    </ul>

    <!-- End of Sidebar -->

}