@{
    ViewData["Title"] = "友链管理";
}

@model IEnumerable<Friend>

<div class="container-lf">

    <div class="card mx-auto card-w-60 border-0 my-5 shadow-lg">
        <div class="card-header border-0"><partial name="_DefaultCardHeader" /></div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.URL)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Icon)
                            </th>
                            <th>操作</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th><input class="form-control" id="descSearch" type="text" /></th>
                            <th><input class="form-control" id="iconSearch" type="text" /></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.URL)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Icon)
                            </td>
                            <td>
                                <div class="d-flex flex-wrap">
                                    <a class="btn btn-sm btn-outline-warning mx-auto mt-1" asp-action="Edit" asp-route-id="@item.FriendID"><i class="material-icons">edit</i></a>
                                    <a class="btn btn-sm btn-outline-info mx-auto mt-1" asp-action="Details" asp-route-id="@item.FriendID"><i class="material-icons">list</i></a>
                                    <a href="#" data-toggle="modal" class="btn btn-sm btn-outline-danger mx-auto mt-1" data-target="#deleteModal" data-delete-id="@item.FriendID" data-name="@item.URL" data-type="友链" data-field="地址">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <partial name="_DeleteModal" />
</div>
@section StyleSheets{
    <environment include="Development">
        <link href="~/lib/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css">
        <link href="~/lib/dt-Responsive-2.2.2/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/r-2.2.2/datatables.min.css" />
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
        <script src="~/lib/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="~/lib/dt-Responsive-2.2.2/js/dataTables.responsive.min.js"></script>
        <script src="~/lib/dt-Responsive-2.2.2/js/responsive.bootstrap4.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/r-2.2.2/datatables.min.js"></script>
    </environment>
    <script src="~/js/Friend/Index.js" asp-append-version="true"></script>
}
