@{
    var Tag = ViewData["Tag"] as Tag;
    ViewData["Title"] = "标签: " + Tag.TagName;
}

@model IEnumerable<Article>
@inject IConfiguration Configuration

<div class="container-lf">
    <div class="col-md-9 mx-auto px-0">
        <div class="card mx-auto bg-w-op-9 my-5 border-0 shadow-lg">
            <div class="card-body">
                <div class="d-flex my-3">
                    <h3 class="mx-auto">@Tag.TagName</h3>
                </div>
                <div class="masonry">
                    @foreach (var item in Model)
                    {
                        <div class="item position-relative rounded animated--zoom-in">
                            <img class="card-img-top card-img-fit  darken-20 text-economica h-100" src="@Configuration["img_upload_path"]@item.Title/@item.HeaderImg" alt="Header Image">
                            <div class="card-img-overlay">
                                <h4 class="mx-auto text-economica">@item.Title</h4>
                                <h6 class="mx-auto text-economica">@Html.DisplayFor(m => item.AddTime)</h6>
                            </div>
                            <div class="card-body d-flex h-100 px-0">
                                <a class="full-div-link z-1" asp-controller="Article" asp-action="View" asp-route-id="@item.ArticleID"></a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
