@model Article
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "文章详情";
}
<div class="container-lf">
    <div class="card card-w-50 mx-auto border-0 my-5 shadow-lg">
        <div class="card-header border-0"><partial name="_DefaultCardHeader" /></div>
        <div class="card-body">

            <div class="form-row">
                <div class="form-group col-md-5 mx-auto">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" disabled />
                </div>
                <div class="form-group col-md-5 mx-auto">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control" disabled />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5 mx-auto">
                    <label asp-for="Tag" class="control-label"></label>
                    <input type="text" asp-for="Tag" class="form-control" disabled />
                    <span asp-validation-for="Tag" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5 mx-auto">
                    <label asp-for="MediaSerialized" class="control-label"></label>
                    <input asp-for="MediaSerialized" class="form-control" disabled />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control h-px-350" disabled></textarea>
            </div>

            <div class="row">
                <a class="btn btn-secondary col-md-2 mx-auto my-3 animated--shadow-deep" asp-action="Index">返回</a>
                @if (Model.Status != ArticleStatus.Approved)
                {
                    @if ((await AuthorizationService.AuthorizeAsync(
      User, Model, ArticleOperations.Approve)).Succeeded)
                    {
                        <div class="col-md-2 mx-auto my-3">
                            <form method="post">
                                <input type="hidden" name="id" value="@Model.ArticleID" />
                                <input type="hidden" name="status" value="@ArticleStatus.Approved" />
                                <button type="submit" class="btn btn-primary animated--shadow-deep col-12">通过</button>
                            </form>
                        </div>
                    }
                }
                @if (Model.Status != ArticleStatus.Approved)
                {
                    @if ((await AuthorizationService.AuthorizeAsync(
      User, Model, ArticleOperations.Reject)).Succeeded)
                    {
                        <div class="col-md-2 mx-auto my-3">
                            <form method="post">
                                <input type="hidden" name="id" value="@Model.ArticleID" />
                                <input type="hidden" name="status" value="@ArticleStatus.Rejected" />
                                <button type="submit" class="btn btn-danger animated--shadow-deep col-12">拒绝</button>
                            </form>
                        </div>
                    }
                }
                @if ((await AuthorizationService.AuthorizeAsync(
User, Model, ArticleOperations.Update)).Succeeded)
                {
                    <a class="btn btn-lf col-md-2 mx-auto my-3 animated--shadow-deep" asp-action="Edit" asp-route-id="@Model.ArticleID">编辑</a>
                }

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Article/Editor.js"></script>
    <script src="~/js/Article/CRUD.js"></script>
}