@{
    Dictionary<string, string> dict1 = ViewData["Dict1"] as Dictionary<string, string>;
    Dictionary<string, string> dict2 = ViewData["Dict2"] as Dictionary<string, string>;
    ViewData["Title"] = dict1[Model.Category];
}

@model ArticleList

<div class="container-full">

    <div class="row">
        <div class="card ml-auto col-md-2 border-left-info border-0 my-5 d-none d-md-flex">
            <div class="card-body">
                <div class="row mb-2">
                    <h5 class="text-plain text-gh-red mx-auto my-2">@dict1[Model.Category]</h5>
                </div>
                @{
                    List<int> links = ViewBag.Links;
                    foreach (var item in links)
                    {
                        <div class="row">
                            <a class="h7 text-plain text-gh-red mx-auto my-2" asp-action="List" asp-route-Category="@Model.Category" asp-route-Type="@item">@dict2[item.ToString()]</a>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="col-md-8 mx-auto">
            <div class="card border-0 my-5">
                <div class="my-auto" aria-label="breadcrumb">
                    <ol class="breadcrumb bg-silver">
                        <li class="mr-2">当前位置:</li>
                        @if (!string.IsNullOrEmpty(Model.Category))
                        {
                            <li class="breadcrumb-item"><a class="text-plain">@dict1[Model.Category]</a></li>
                        }
                        @if (!string.IsNullOrEmpty(Model.Type))
                        {
                            <li class="breadcrumb-item"><a class="text-plain">@dict2[Model.Type]</a></li>
                        }
                        <img class="img-h-24 ml-auto mr-2" src="~/images/logo.png" />
                    </ol>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="dataTable">
                            <thead>
                                <tr>
                                    <th>
                                        标题
                                    </th>
                                    <th>
                                        时间
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model != null && Model.Articles != null)
                                    {

                                        foreach (var item in Model.Articles)
                                        {
                                            <tr>
                                                <td>
                                                    <a class="text-plain text-gh-red" asp-controller="Article" asp-action="View" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Title)</a>
                                                </td>
                                                <td>
                                                    [@Html.DisplayFor(modelItem => item.AddTime)]
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/Article/List.js"></script>
}