@{
    ViewData["Title"] = Model.Title;
    ViewData["CommentSectionTitle"] = "评论区";
    Article prev = @ViewData["Prev"] as Article;
    Article next = @ViewData["Next"] as Article;
}

@model Article
@inject IConfiguration Configuration

<div class="container-lf">

    <div class="col-md-9 mx-auto px-0">
        <div class="card card-main mx-auto border-0 my-5 shadow-lg">
            <div class="card-body">
                <div class="d-flex flex-wrap">
                    <h1 class="mx-auto my-3 text-gray-800">@Model.Title</h1>
                </div>
                <div class="d-flex flex-wrap">
                    <div class="col-11 col-md-10 mx-auto bg-silver my-2 rounded">
                        <div class="d-flex flex-wrap">
                            <div class="mx-auto ml-sm-4 mr-sm-auto my-2">日期:@Html.DisplayFor(m => m.AddTime)</div>
                            <div class="mx-auto mr-sm-4 ml-sm-auto my-2">作者:@Model.Author</div>
                        </div>
                        <div class="d-flex flex-wrap">
                            <div class="mx-auto ml-sm-auto mr-sm-4 my-2">标签: 
                            @if(!string.IsNullOrEmpty(Model.Tag)){
                                            @foreach (var t in Model.Tag.Split(',').ToList<string>()){
                                                <a class="btn btn-outline-info px-1 py-1" href="#">@t</a>
                                            }
                                        }
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <article class="col-md-10 mx-auto my-4 text-opensans animated--link-container text-gray-800">
                        @Html.Raw(Model.Content)
                    </article>
                </div>
                <div class="row mb-4">
                    @if (prev != null)
                    {
                        <a class="btn col-md-4 mx-auto btn-outline-info" asp-action="View" asp-route-id='@prev.ArticleID'>上一篇:@prev.Title</a>
                    }
                    @if (next != null)
                    {
                        <a class="btn col-md-4 mx-auto btn-outline-info" asp-action="View" asp-route-id='@next.ArticleID'>下一篇:@next.Title</a>
                    }
                </div>
                <div class="row mx-1 mx-md-4">
                    <div class="share-component"
                         data-disabled="google,twitter,facebook,linkedin,diandian,tencent"
                         data-description="一键分享到微博，QQ空间，豆瓣">
                    </div>
                    <div class="ml-auto mr-2 my-auto">
                        <h7>阅读次数: @Model.ViewCount 次</h7>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9 mx-auto px-0">
        <partial name="_CommentSection" model='ViewData["Comments"]' />
    </div>

</div>

@section StyleSheets{
    <environment include="Development">
        <link href="~/lib/share.js/dist/css/share.min.css" rel="stylesheet" type="text/css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/css/share.min.css" />
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/lib/share.js/dist/js/social-share.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/js/social-share.min.js"></script>
    </environment>
}