@{
    ViewData["Title"] = Model.Title;
    ViewData["CommentSectionTitle"] = "评论区";
    ArticleIndexVM prev = ViewData["Prev"] as ArticleIndexVM;
    ArticleIndexVM next = ViewData["Next"] as ArticleIndexVM;
    var related = ViewData["Related"] as List<Article>;
}

@model Article
@inject IConfiguration Configuration
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Http.Extensions
@inject IHttpContextAccessor httpContextAccessor

<div class="container-lf">
    <div class="col-md-9 mx-auto bg-w-op-9 rounded px-0">
        <nav class="sidebar sidebar-right d-flex navbar-nav sidebar-lf pb-2 rounded bg-silver shadow-lg z-1" id="toc" data-toggle="toc">
            <button class="animated--toggler sidebar-toggler border-0 z-1 toggled">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </nav>
        <div class="card mx-auto border-0 my-5 bg-w-op-9 rounded shadow-lg">
            <div class="card-body">
                <div class="d-flex flex-wrap">
                    <h1 class="mx-auto my-3 text-gray-800">@Model.Title</h1>
                </div>
                <div class="d-flex flex-wrap">
                    <div class="col-11 col-md-10 mx-auto bg-silver my-2 rounded">
                        <div class="d-flex flex-wrap">
                            <div class="mx-auto ml-sm-4 mr-sm-auto my-2">日期:@Html.DisplayFor(m => m.AddTime)</div>
                            <div class="mx-auto mr-sm-4 ml-sm-auto my-2">作者:@Model.Author</div>
                        </div>
                        <div class="d-flex flex-wrap">
                            <div class="mx-auto ml-sm-auto mr-sm-4 my-2">标签: 
                            @if(!string.IsNullOrEmpty(Model.Tag)){
                                            @foreach (var t in Model.Tag.Split(',').ToList<string>()){
                                                <a class="btn btn-outline-primary px-1 py-1" asp-controller="Tag" asp-action="List" asp-route-name="@t">@t</a>
                                            }
                                        }
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <article class="col-md-10 mx-auto my-4 text-opensans animated--link-container">
                        @Html.Raw(Model.Content)
                    </article>
                </div>
                <div class="row mb-4">
                    @if (prev != null)
                    {
                        <a class="btn col-8 col-md-4 mx-auto btn-outline-success mb-2" asp-action="View" asp-route-id='@prev.ArticleID'>上一篇:@prev.Title</a>
                    }
                    @if (next != null)
                    {
                        <a class="btn col-8 col-md-4 mx-auto btn-outline-success mb-2" asp-action="View" asp-route-id='@next.ArticleID'>下一篇:@next.Title</a>
                    }
                </div>
                <div class="row mx-1 mx-md-4">
                    <div class="share-component"
                         data-disabled="google,twitter,facebook,linkedin,diandian,tencent"
                         data-description="一键分享到微博，QQ空间，豆瓣"
                         data-wechat-qrcode-title="">
                    </div>

                    <button class="btn btn-outline-danger btn-circle mt-1" id="like" articleID="@Model.ArticleID" count="@Model.LikeCount"><i class="fas fa-heart"></i></button>
                    <label id="like-label" class="control-label text-danger">@Model.LikeCount</label>
                    <div class="ml-auto mr-2 my-auto">
                        <h7 data-toc-skip>阅读次数: @Model.ViewCount 次</h7>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 mx-auto my-5 px-0">
        <div class="card border-0 shadow-lg">
            <div class="card-header border-0"><partial name="_CardHeader" model='"相关文章"' /></div>
            <div class="card-body">

                <div class="d-flex flex-wrap justify-content-around">
                    @foreach(var item in related){
                    <div class="card card-related my-3 border-0 mx-2 animated--shadow-translate px-0">
                        <img class="card-img-top rounded darken-20 text-economica h-100" src="@Configuration["img_upload_path"]@item.Title/@item.HeaderImg" alt="Header Image">
                        <div class="card-img-overlay">
                            <h4 data-toc-skip class="mx-auto text-economica">@item.Title</h4>
                            <h6 data-toc-skip class="mx-auto text-economica">@Html.DisplayFor(m => m.AddTime)</h6>
                        </div>
                        <div class="card-body d-flex h-100 px-0">
                            <a class="full-div-link z-1" asp-controller="Article" asp-action="View" asp-route-id="@item.ArticleID"></a>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9 mx-auto my-5 px-0">
        <div class="card border-0 border-left-info shadow-lg">
            <div class="card-header border-0"><partial name="_CardHeader" model='"作者信息"' /></div>
            <div class="card-body d-flex flex-wrap">
                <div class="col-md-2">
                    <img src="/img/avatar.svg" class="img-h-200 mx-2 my-2" />
                </div>
                <div class="col-md-10">
                    <div class="d-flex flex-wrap">
                        <h5 data-toc-skip>Nathaniel Lin</h5>
                    </div>
                    <div class="d-flex flex-wrap">
                        <markdown markdown="@ViewData["AboutMe"]"></markdown>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9 mx-auto my-5 px-0">
        <div class="card border-0 border-left-info shadow-lg">
            <div class="card-body">
                <div class="d-flex flex-wrap my-2">本文作者:<div class="mx-2"></div>@Model.Author</div>
                <div class="d-flex flex-wrap my-2">本文链接:<div class="mx-2"></div><a class="animated--link" href="@httpContextAccessor.HttpContext.Request.GetDisplayUrl()">@httpContextAccessor.HttpContext.Request.GetDisplayUrl()</a></div>
                <div class="d-flex flex-wrap my-2">版权声明:<div class="mx-2"></div>本博客所有文章除特别声明外，均采用 <a class="animated--link" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">CC BY NC SA 4.0</a> 许可协议，转载请注明出处。</div>
            </div>
        </div>
    </div>

    <div class="col-md-9 mx-auto px-0">
        <partial name="_CommentSection" model='ViewData["Comments"]' />
    </div>
</div>

@section StyleSheets{
    <environment include="Development">
        <link href="~/lib/share.js/dist/css/share.min.css" rel="stylesheet" type="text/css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/css/share.min.css" />
    </environment>
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/xcode.min.css">
    <link href="~/lib/bootstrap-toc/dist/bootstrap-toc.min.css" rel="stylesheet" type="text/css">
}

@section Scripts {
    <environment include="Development">
        <script src="~/lib/share.js/dist/js/social-share.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/js/social-share.min.js"></script>
    </environment>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script src="~/lib/bootstrap-toc/dist/bootstrap-toc.min.js"></script>
    <script src="~/js/Article/View.js" asp-append-version="true"></script>
}
