
@{
    ViewData["Title"] = "相册";
}

@model PaginatedList<Image>
@inject IConfiguration Configuration

<div class="container-lf">
    <div class="card mx-md-4 my-5 h-100 border-0 bg-w-op-9 shadow px-0">
        <div class="card-header border-0"><partial name="_DefaultCardHeader" /></div>
        <div class="card-body">
            @if (User.IsInRole(Constants.AdministratorsRole))
            {

                <div class="card mx-auto card-w-50 border-0 my-5 shadow-lg">
                    <div class="card-header border-0"><partial name="_CardHeader" model='"上传新图片"' /></div>
                    <div class="card-body">
                        <form asp-controller="Image" asp-action="Create" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="form-group col-md-5 mx-auto">
                                    <input name="Path" class="form-control" placeholder="路径" />
                                </div>
                                <div class="form-group col-md-5 mx-auto">
                                    <div class="custom-file">
                                        <input name="uploads" id="uploads" type="file" accept=".jpg, .gif, .png, .bmp, .jpeg .svg" class="custom-file-input" multiple>
                                        <label class="custom-file-label text-no-wrap" for="contentImgs" data-browse="选择文件">图片</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <a class="btn btn-secondary col-md-2 mx-auto mt-3 animated--shadow-deep" asp-action="List">重置</a>
                                <button class="btn btn-lf col-md-2 mx-auto mt-3 animated--shadow-deep" type="submit">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            }

            <div class="grid justify-content-center">
                <div class="grid-col grid-col-layout grid-col--1"></div>
                <div class="grid-col grid-col-layout grid-col--2"></div>
                <div class="grid-col grid-col-layout grid-col--3"></div>
                <div class="grid-col grid-col-layout grid-col--4"></div>


                @foreach (var item in Model)
                {
                    <div class="grid-item">
                        <div class="card card-album my-3 border-0 mx-2 animated--shadow-translate px-0">
                            <img class="card-img-top rounded darken-20 text-economica h-100" src="@Configuration["img_upload_path"]/@item.Path/@item.Name" alt="Header Image">
                            <div class="card-img-overlay flex-wrap">
                                <div class="d-flex flex-wrap">
                                    <h4 class="mx-auto text-economica">@item.Name</h4>
                                </div>

                                <div class="d-flex flex-wrap">
                                    <h5 class="mx-auto text-economica">@item.Path</h5>
                                </div>

                                <div class="d-flex flex-wrap">
                                    <h5 class="mx-auto text-economica">@Html.DisplayFor(modelItem => item.AddTime)</h5>
                                </div>

                                <div class="d-flex flex-wrap">
                                    @if (User.IsInRole(Constants.AdministratorsRole))
                                    {
                                        <a href="#" data-toggle="modal" class="btn btn-sm btn-outline-danger mx-auto mt-1" data-target="#deleteModal" data-delete-id="@item.ImageID" data-name="@item.Name" data-type="图片" data-field="名称">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <partial name="_PaginatedIndex" model="Model" />
        </div>
    </div>

    <partial name="_DeleteModalWithController" model='"Images"' />
</div>
